body{
	position: relative;
	width: auto;
	height: auto;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
}
.Desktop{
	position: relative;
	width: 1440px;
	height: 1560px;

	background: rgba(0, 216, 60, 0.1);
	border: 15px solid #838383;
}
.Rectangle_1{
	position: absolute;
	left: 0%;
	right: 95%;
	top: 0%;
	bottom: 0%;

	background: #FF2D2D;
}
h3{
	position: absolute;
	left: 15%;
	right: 95%;
	top: 0%;
	bottom: 0%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 90px;
	/* or 188% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
	}
.img_1{
	position: absolute;
	left: 10.97%;
	right: 78.96%;
	top: 3.08%;
	bottom: 92.31%;


	border-radius: 0px;
}
.img_2{
	position: absolute;
	left: 23.75%;
	right: 66.18%;
	top: 3.08%;
	bottom: 92.31%;

	border-radius: 0px;
}
.I_id{
	position: absolute;
	left: 10.97%;
	right: 50.83%;
	top: 10.83%;
	bottom: 62.5%;

	background: #c4c4c4;
	border: 5px solid #000000;
	border-radius: 30px;
}
.I_co{
	position: absolute;
	left: 56.81%;
	right: 5%;
	top: 10.77%;
	bottom: 62.56%;

	background: #C4C4C4;
	border: 5px solid #000000;
	border-radius: 30px;
}
.I_fo{
	position: absolute;
	left: 10.97%;
	right: 50.83%;
	top: 40.51%;
	bottom: 32.82%;

	background: #C4C4C4;
	border: 5px solid #000000;
	border-radius: 30px;
}
.I_qu{
	position: absolute;
	left: 56.81%;
	right: 5%;
	top: 40.51%;
	bottom: 32.82%;

	background: #C4C4C4;
	border: 5px solid #000000;
	border-radius: 30px;
}
.I_tr{
	position: absolute;
	left: 10.97%;
	right: 50.83%;
	top: 70.26%;
	bottom: 3.08%;

	background: #C4C4C4;
	border: 5px solid #000000;
	border-radius: 30px;
}
.I_re{
	position: absolute;
	left: 56.81%;
	right: 5%;
	top: 70.26%;
	bottom: 3.08%;

	background: #C4C4C4;
	border: 5px solid #000000;
	border-radius: 30px;
}
.Rectangle_3{       
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 82.73%;

	background: #D08A00;
	border-radius: 25px 25px 0px 0px;
}
h2{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #000000;
}
h4{
	position: absolute;
	left: 5.09%;
	right: 43.45%;
	top: 22.36%;
	bottom: 24.52%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #000000;
}
.Rectangle_4{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 82.93%;
	bottom: 0%;

	background: #FF5F5F;
	border-radius: 0px 0px 25px 25px;
}
.Ellipse_1{
	box-sizing: border-box;
	height: 200px;
	width: 37%;
	position: absolute;
	left: 56.91%;
	right: 3.09%;
	top: 23.56%;
	bottom: 23.56%;

	border: 3px solid #000000;
	border-radius: 110px;
}
.Text{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: #FFFFFF;
}